@use '@/shared/scss/common/variables' as *;

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0 80px;

  @media screen and (max-width: 768px) {
    display: none;
    padding: 0;
    gap: 10px;
  }

  &__counter {
    font-size: $fz-14;
    font-weight: $fw-400;
    color: $color-primary;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 768px) {
      gap: 10px;
    }
  }

  @media screen and (max-width: 480px) {
    &__button {
      & svg {
        scale: 0.6;
      }
    }
  }
}
