$font-family: "PT Sans", sans-serif;
$second-family: "Bebas Neue", sans-serif;

$background: #f4f5f9;
$color-primary: #42567a;
$color-blue: #3877ee;
$color-iris: #5d5fef;
$color-fuschia: #ef5da8;
$color-gradient: linear-gradient(180deg, $color-blue, $color-fuschia);
$dot-actve: rgba(#303E58, 0.5);

$fz-14: 14px;
$fz-20: 20px;
$fz-25: 25px;
$fz-56: 56px;
$fz-200: 200px;

$fw-400: 400;
$fw-700: 700;

$width-1440: 1440px;

:export {
  background: $background;
  colorPrimary: $color-primary;
  dotActve: $dot-actve;
}