.timeline__years {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 100px;
  padding-right: 33px;
  user-select: none;

  @media screen and (max-width: 1440px) {
    padding-right: 0;
    gap: 70px;
  }

  @media screen and (max-width: 700px) {
    position: relative;
    transform: none;
    left: auto;
    top: auto;
    align-self: center;
  }

  @media screen and (max-width: 576px) {
    gap: 50px;
  }
}
